<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EMKPantry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EMKPantryTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>com.electricmuffinkitchen.emkpantry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>com.electricmuffinkitchen.emkwip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56B1814135EDCF000184810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B58A91AC138BD59800C7BEC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B58A91BA138BD5B400C7BEC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5C1CAE9135ED300000C8F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
